<nav class="navbar">
    <div class="title">
        <img class="img" src="../../assets/logo.png" alt="">
    </div>
    <div class="navbar-links">
        <ul>
            <li><a routerLink="forum">Forum</a></li>
            <li><a routerLink="contact">Contact</a></li>
            <li><a routerLink="admin" id="admin">Admin</a></li>
            <li><a routerLink="login" id="login">S'authentifier</a></li>
            <li><a id="logout" (click)="logout()">Se Déconnecter</a></li>
        </ul>
    </div>
</nav>