<div class="container mb-3">


<div class="container mb-3 w-50">
<h3>Modifier Utilisateur</h3>
<div class="mb-3">
    <label class="form-label">Id</label>
    <input type="text" class="form-control" name="id" readonly>
</div>
<div class="mb-3">
    <label class="form-label">Nom</label>
    <input type="text" class="form-control" name="nom"  >
</div>
<div class="mb-3">
    <label class="form-label">Email</label>
    <input type="text" class="form-control" name="mail" >
</div>
<div class="mb-3">
    <label class="form-label">Tel</label>
    <input type="text" class="form-control" name="tel"  >
</div>
<div class="mb-3">
    <label class="form-label">Role</label>
    <input type="text" class="form-control" name="role"  >
</div>
<button class="btn btn-success" (click)="Update()">Modifier</button>
<button class="btn btn-danger" (click)="Delete()">Supprimer</button>
</div>
</div>