<div class="container w-50">
    <h3>
        Contactez l'administrateur
    </h3>
    <form  (submit)="submit()">
    <div class="row">
        <div class="mb-3">
            <label for="name" class="form-label"></label>
            <input type="text" class="form-control" readonly>
        </div>
        <div class="mb-3">
            <label for="message"></label>
         <textarea class="form-control" name="text" id="" cols="30" rows="10"></textarea>
        </div>
    </div>
    <button type="submit" class="btn btn-success">Envoyer</button>
</form>
</div>